data/logs/nginx/*
data/logs/php/8.2/*
data/logs/php/8.1/*
data/logs/php/8.0/*
data/logs/php/7.4/*
data/logs/php/7.3/*
data/logs/php/7.2/*
data/logs/php/7.1/*
data/logs/mysql/*
data/logs/redis/*
custom_etc/*
cert/*
transfer/*

!data/logs/nginx/.gitkeep
!data/logs/php/8.2/.gitkeep
!data/logs/php/8.1/.gitkeep
!data/logs/php/8.0/.gitkeep
!data/logs/php/7.4/.gitkeep
!data/logs/php/7.3/.gitkeep
!data/logs/php/7.2/.gitkeep
!data/logs/php/7.1/.gitkeep
!data/logs/mysql/.gitkeep
!data/logs/redis/.gitkeep
!custom_etc/.gitkeep
!mysql_etc/.gitkeep
!cert/.gitkeep
.env

conf/apache2/000-default.conf
conf/apache2/default-ssl.conf
conf/nginx/nginx-sites.conf
